
<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @city.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Provincia de <%= @city.province.name %></h6>
      <p class="card-text">Tiene una población de <%= @city.city_population %></p>
    </div>
  </div>

  <br>
  <%= link_to 'Editar', edit_city_path(@city.id), class: "btn btn-light" %> |
  <%= link_to 'Volver', cities_path, class: "btn btn-light" %>
</div>
