
<h1>Listando Provincias</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Poblacion</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>

  <% @provinces.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.total_population %></td>
      <td><%= item.created_at %></td>
      <td><%= item.updated_at %></td>
    </tr>
  <% end %>

</table>


<%= link_to "Inicio", '/' %>
